<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="..">
          <dir
            name="..">
            <dir
              name="..">
              <dir
                name="..">
                <dir
                  name="..">
                  <dir
                    name="..">
                    <dir
                      name="..">
                      <dir
                        name="mono2micro">
                        <dir
                          name="applications">
                          <dir
                            name="elastic-build-cloud">
                            <dir
                              name="elastic-build-cloud-25979477849a7a4da4e82bcbf43185502caf6de7">
                              <dir
                                name="com.ibm.elastic.build.cloud.api">
                                <watched
                                  excludes=".*"
                                  subdirs="true">
                                  <filter
                                    name="Java"/>
                                </watched>
                                <dir
                                  name="src">
                                  <dir
                                    name="com">
                                    <dir
                                      name="ibm">
                                      <dir
                                        name="elastic">
                                        <dir
                                          name="build">
                                          <dir
                                            name="cloud">
                                            <dir
                                              name="api">
                                              <dir
                                                name="exceptions"/>
                                              <dir
                                                name="internal"/>
                                              <dir
                                                name="requirement">
                                                <dir
                                                  name="exceptions"/>
                                              </dir>
                                            </dir>
                                          </dir>
                                        </dir>
                                      </dir>
                                    </dir>
                                  </dir>
                                </dir>
                              </dir>
                              <dir
                                name="com.ibm.elastic.build.cloud.core">
                                <watched
                                  excludes=".*"
                                  subdirs="true">
                                  <filter
                                    name="Java"/>
                                </watched>
                                <dir
                                  name="src">
                                  <dir
                                    name="com">
                                    <dir
                                      name="ibm">
                                      <dir
                                        name="elastic">
                                        <dir
                                          name="build">
                                          <dir
                                            name="cloud">
                                            <dir
                                              name="core">
                                              <dir
                                                name="internal">
                                                <dir
                                                  name="requirement"/>
                                              </dir>
                                            </dir>
                                          </dir>
                                        </dir>
                                      </dir>
                                    </dir>
                                  </dir>
                                </dir>
                              </dir>
                              <dir
                                name="com.ibm.elastic.build.cloud.external.system.bundle">
                                <watched
                                  excludes=".*"
                                  subdirs="true">
                                  <filter
                                    name="Java"/>
                                </watched>
                                <dir
                                  name="src">
                                  <dir
                                    name="com">
                                    <dir
                                      name="ibm">
                                      <dir
                                        name="elastic">
                                        <dir
                                          name="build">
                                          <dir
                                            name="cloud">
                                            <dir
                                              name="external">
                                              <dir
                                                name="system">
                                                <dir
                                                  name="connection"/>
                                                <dir
                                                  name="internal"/>
                                                <dir
                                                  name="jenkins"/>
                                                <dir
                                                  name="multikey"/>
                                                <dir
                                                  name="openstack"/>
                                                <dir
                                                  name="sco"/>
                                                <dir
                                                  name="udeploy"/>
                                              </dir>
                                            </dir>
                                          </dir>
                                        </dir>
                                      </dir>
                                    </dir>
                                  </dir>
                                </dir>
                              </dir>
                              <dir
                                name="com.ibm.elastic.build.cloud.instance.ucd">
                                <watched
                                  excludes=".*"
                                  subdirs="true">
                                  <filter
                                    name="Java"/>
                                </watched>
                                <dir
                                  name="src">
                                  <dir
                                    name="com">
                                    <dir
                                      name="ibm">
                                      <dir
                                        name="elastic">
                                        <dir
                                          name="build">
                                          <dir
                                            name="cloud">
                                            <dir
                                              name="instance">
                                              <dir
                                                name="ucd">
                                                <dir
                                                  name="internal"/>
                                              </dir>
                                            </dir>
                                          </dir>
                                        </dir>
                                      </dir>
                                    </dir>
                                  </dir>
                                </dir>
                              </dir>
                              <dir
                                name="com.ibm.elastic.build.cloud.jenkins">
                                <watched
                                  excludes=".*"
                                  subdirs="true">
                                  <filter
                                    name="Java"/>
                                </watched>
                                <dir
                                  name="src">
                                  <dir
                                    name="com">
                                    <dir
                                      name="ibm">
                                      <dir
                                        name="elastic">
                                        <dir
                                          name="build">
                                          <dir
                                            name="cloud">
                                            <dir
                                              name="jenkins">
                                              <dir
                                                name="internal"/>
                                            </dir>
                                          </dir>
                                        </dir>
                                      </dir>
                                    </dir>
                                  </dir>
                                </dir>
                              </dir>
                              <dir
                                name="com.ibm.elastic.build.cloud.resource.openstack">
                                <watched
                                  excludes=".*"
                                  subdirs="true">
                                  <filter
                                    name="Java"/>
                                </watched>
                                <dir
                                  name="src">
                                  <dir
                                    name="com">
                                    <dir
                                      name="ibm">
                                      <dir
                                        name="elastic">
                                        <dir
                                          name="build">
                                          <dir
                                            name="cloud">
                                            <dir
                                              name="resource">
                                              <dir
                                                name="openstack">
                                                <dir
                                                  name="internal"/>
                                              </dir>
                                            </dir>
                                          </dir>
                                        </dir>
                                      </dir>
                                    </dir>
                                  </dir>
                                </dir>
                              </dir>
                              <dir
                                name="com.ibm.elastic.build.cloud.rtc">
                                <watched
                                  excludes=".*"
                                  subdirs="true">
                                  <filter
                                    name="Java"/>
                                </watched>
                                <dir
                                  name="src">
                                  <dir
                                    name="com">
                                    <dir
                                      name="ibm">
                                      <dir
                                        name="elastic">
                                        <dir
                                          name="build">
                                          <dir
                                            name="cloud">
                                            <dir
                                              name="rtc">
                                              <dir
                                                name="internal"/>
                                            </dir>
                                          </dir>
                                        </dir>
                                      </dir>
                                    </dir>
                                  </dir>
                                </dir>
                              </dir>
                              <dir
                                name="com.ibm.elastic.build.cloud.staticpool.ucd">
                                <watched
                                  excludes=".*"
                                  subdirs="true">
                                  <filter
                                    name="Java"/>
                                </watched>
                                <dir
                                  name="src">
                                  <dir
                                    name="com">
                                    <dir
                                      name="ibm">
                                      <dir
                                        name="elastic">
                                        <dir
                                          name="build">
                                          <dir
                                            name="cloud">
                                            <dir
                                              name="staticpool">
                                              <dir
                                                name="ucd">
                                                <dir
                                                  name="internal"/>
                                              </dir>
                                            </dir>
                                          </dir>
                                        </dir>
                                      </dir>
                                    </dir>
                                  </dir>
                                </dir>
                              </dir>
                              <dir
                                name="com.ibm.elastic.build.cloud.util">
                                <watched
                                  excludes=".*"
                                  subdirs="true">
                                  <filter
                                    name="Java"/>
                                </watched>
                                <dir
                                  name="src">
                                  <dir
                                    name="com">
                                    <dir
                                      name="ibm">
                                      <dir
                                        name="elastic">
                                        <dir
                                          name="build">
                                          <dir
                                            name="cloud">
                                            <dir
                                              name="util">
                                              <dir
                                                name="build"/>
                                              <dir
                                                name="event"/>
                                              <dir
                                                name="internal"/>
                                              <dir
                                                name="logging"/>
                                            </dir>
                                          </dir>
                                        </dir>
                                      </dir>
                                    </dir>
                                  </dir>
                                </dir>
                              </dir>
                              <dir
                                name="com.ibm.elastic.build.cloud.web">
                                <watched
                                  excludes=".*"
                                  subdirs="true">
                                  <filter
                                    name="Java"/>
                                </watched>
                                <dir
                                  name="src">
                                  <dir
                                    name="com">
                                    <dir
                                      name="ibm">
                                      <dir
                                        name="elastic">
                                        <dir
                                          name="build">
                                          <dir
                                            name="cloud">
                                            <dir
                                              name="web"/>
                                          </dir>
                                        </dir>
                                      </dir>
                                    </dir>
                                  </dir>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java5">
    <class_paths/>
  </java_options>
</project>
